// !900PX
@media (max-width: 900px) {
  .home__aside {
    margin: 0 5%;
  }

  .Main__nav {
    .lightBtn {
      padding: 10px 30px;
    }
  }

  .Main textarea {
    width: 90vw;
  }
}

// !700 PX
@media (max-width: 700px) {
  .Main header {
    display: flex;
    flex-direction: column;
  }

  .Main__leftHeader {
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }

  .Main__prompts {
    margin: 20px auto;
    width: 80vw;
  }
}

// !500PX
@media (max-width: 500px) {
  .home__imageContainer img {
    height: 100px;
  }

  .home__dropdownContainer {
    flex-direction: column;
    .home__dropdown {
      padding: 10px 0;
      height: 50px;
    }

    button {
      margin-top: 5%;
      margin-left: 0;
    }
  }
  .Main__instructions {
    width: 80vw;
  }

  .Main__inputPrompt {
    width: 90%;
  }
  .Main__confirmBtn {
    margin-top: 10px;
  }
}
